<div class="tab-pane" id="password">
	<form class="form-horizontal ">
		<div class="control-group">
			<label class="control-label">原始密码</label>
			<div class="controls">
				<input type="password" class="login-field" placeholder="原始密码密码"
					id="login-name"> <span class="login-field-icon icon-key-2"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">新密码</label>
			<div class="controls">
				<input type="password" class="login-field" placeholder="新密码"
					id="login-name"> <span class="login-field-icon icon-lock"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">确认密码</label>
			<div class="controls">
				<input type="password" class="login-field" placeholder="确认密码"
					id="login-name"> <span class="login-field-icon icon-lock-2"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">验证码</label>
			<div class="controls">
				<input type="password" class="login-field" placeholder="验证码"
					id="login-pass"> <img class="login-captcha"
					src="http://www.lofter.com/cap/captcha.jpgx?h=38&amp;w=85&amp;161822">
				<a id="captchaRefresh" class="login-field-icon icon-refresh-2"></a>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls">
				<button class="btn btn-large btn-primary">保存</button>
			</div>
		</div>

	</form>
</div>