<div class="container clearfix">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#userInfo" data-toggle="tab">个人资料</a></li>
			<li><a href="#uploadIcon" data-toggle="tab">上传头像</a></li>
			<li><a href="#password" data-toggle="tab">修改密码</a></li>
		</ul>
		<div   class="tab-content">
			<div class="tab-pane active" id="userInfo" ng-app="userInfoModule"><userinfo></userinfo></div>
			<div class="tab-pane" id="uploadIcon" uploadIcon></div>
			<div class="tab-pane" id="password" password></div>
		</div>
	</div>
	<userInfo></userInfo>
	
	
	
</div>