<div style="width:100%;background-color: #fcab37;">
    <table cellspacing="0" cellpadding="0" align="center" style="width:680;" >
        <tbody>

        <tr>
            <td style=" BACKGROUND-COLOR: #FFFFFF">
                <table style="FONT-SIZE: 12px; MARGIN: 0px auto; OVERFLOW: hidden; HEIGHT: auto;width:100%" cellspacing="0"
                       cellpadding="0">
                    <tbody>

                    <tr>
                        <td style="WIDTH: 100%; HEIGHT: 140px ;background-color:#fcab37;" >
                            <div style="WIDTH: 680px;MARGIN: 0px auto;MARGIN: 0px auto;">
                                <table>
                                    <tr>
                                        <td style="padding-right: 40px; padding-left: 127px;">
                                            <a href="http://94yiju.com/?d=_qq_"><img src="http://94yiju.com/img/logo.png" /> </a>
                                        </td>
                                        <td style="font-family: Arial;font-size: 24px;color:#FFFFFF;">
                                            格林小镇的社区网站
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="WIDTH: 100%;" >

                            <p style="line-height:28px;padding-top: 30px;text-align: left;font-size: 18px;width: 80%;padding-left: 10%;font-family: Arial;color: #424242;">
                                亲爱的的格林小镇业主: <br> <a href="http://94yiju.com/?d=_qq_">久室易居(94yiju.com)</a>作为格林小镇的社区网站，现已加入小区地图，并有关于社区的话题，等待您加入讨论。
                            </p>

                            <p style="text-align: left;font-size: 20px;font-family: 隶书;width: 80%;padding-left: 10%;line-height: 20px;">
                                关于格林小镇物业费的投票，<a href="http://94yiju.com/web/vote/detail.html?res=5&d=_qq_" style="font-size: 26px;">参与讨论</a>
                            </p>
                            <p style="text-align: left;font-size: 20px;font-family: 隶书;width: 80%;padding-left: 10%;line-height: 20px;">
                                关于格林小镇封闭的投票，<a href="http://94yiju.com/web/vote/detail.html?res=6&d=_qq_" style="font-size: 26px;">参与讨论</a>
                            </p>
                            <p style="text-align: left;font-size: 20px;font-family: 隶书;width: 80%;padding-left: 10%;line-height: 20px;">
                                格林小镇地图上线，<a href="http://94yiju.com/web/game/map.html?d=_qq_" style="font-size: 26px;">点击浏览</a>
                            </p>
                            <p style="text-align: center;font-size: 14px;font-family: Arial;color: #7c7c7c;width: 80%;padding-left: 10%;line-height: 40px;">
                                网站目前刚刚建成，还有很多功能没有完善和健全，大家尽管拍砖，我会陆续完善。 <br>
                                <a href="http://94yiju.com/?d=_qq_" style="font-size: 28px;">点击此处，进入网站首页</a>
                            </p>
                            <p style="WIDTH:80%;height:auto;text-align: center;padding-top: 30px;padding-bottom:20px;padding-left:10%;font-size: 12px;">
                                如果您不是格林小镇的业主，请忽略此邮件。
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="WIDTH: 100%;background-color:#fcab37;" >
                            <div style="text-align: left;color:#df611d;font-size: 20px;padding: 40 0 40 0 ;">

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
