<div >
    <div class="main-container-inner container">
	<div class="row center">
        <div class="col-xs-12">

            <div class="col-sm-2 col-xs-2">
                <a>
                    <label class="label label-xlg label-success  arrowed-in-right arrowed-in">
                        <i class="icon-home bigger-110" style="padding-right: 4px;"></i>网站首页
                    </label>
                </a>
            </div>
            <div class="col-sm-2">
                <a>
                    <label class="label label-xlg label-success  arrowed-in-right arrowed-in">
                        <i class=" icon-bullhorn bigger-110"  style="padding-right: 4px;"></i>网站介绍
                    </label>
                </a>
            </div>
            <div class="col-sm-2">
                <a>
                    <label class="label label-xlg label-success  arrowed-in-right arrowed-in">
                        <i class="icon-fire bigger-110"  style="padding-right: 4px;"></i>联系我们
                    </label>
                </a>
            </div>
            <div class="col-sm-2">
                <a>
                    <label class="label label-xlg label-success  arrowed-in-right arrowed-in">
                        <i class="icon-bell-alt bigger-110"  style="padding-right: 4px;"></i>隐私保护
                    </label>
                </a>
            </div>
            <div class="col-sm-2">
                <a>
                    <label class="label label-xlg label-success  arrowed-in-right arrowed-in">
                        <i class="icon-fire bigger-110"  style="padding-right: 4px;"></i>意见反馈
                    </label>
                </a>
            </div>
        </div>
	</div>

    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" style="margin-bottom: 40px;">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>