<div id="forgot-box" class="login-box  visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-key green"></i>
                重置密码
            </h4>

            <div class="space-6"></div>
            <p>请输入您的注册邮箱</p>

            <form name="forgetForm" novalidate>
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="email" name="email"  ng-model="email"   required class="form-control" placeholder="注册邮箱" />
                            <i class="icon-envelope"></i>
                        </span>
                        <div ng-show="forgetForm.email.$dirty && forgetForm.email.$invalid" >
                            <div ng-show="forgetForm.email.$error.required">
                                <span class="label label-warning" style="width: 100%;">
                                    <i class="icon-warning-sign bigger-120"></i>
                                    请填写邮箱地址
                                </span></div>
                            <div ng-show="forgetForm.email.$error.email">
                                <span class="label label-warning" style="width: 100%;">
                                    <i class="icon-warning-sign bigger-120"></i>
                                    这不是一个有效的邮箱地址
                                </span></div>
                        </div>
                    </label>

                    <div class="clearfix">
                        <button type="button" id="forgetBtn" ng-click="doForget()" ng-disabled="forgetForm.$invalid" class=" btn btn-block btn-sm btn-primary">
                            <i class="icon-legal"></i>
                            发送
                        </button>
                    </div>
                </fieldset>
            </form>
        </div><!-- /widget-main -->

        <div class="toolbar clearfix">
            <div >
                <a href="#/login" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    返回登录
                </a>
            </div>


        </div>
    </div><!-- /widget-body -->
</div><!-- /forgot-box -->