<div  id="canvasContainer" class="row" style="height:100%;background-color: #000000;">
    <div></div>

    <div class="row" style="font-size: 24px;color: white;padding-top:40%;text-align: center;text-shadow:
            0 -1px 0 #858585,
           0 1px 10px rgba(0,0,0,.6),
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.2),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 7px 10px rgba(0,0,0,.25),
           0 15px 10px rgba(0,0,0,.2),
           0 25px 15px rgba(0,0,0,.15);font-family: Arial;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #3d3d3d;">格林小镇的社区网站</div>
</div>
