<div>
    <div class="main-container-inner">
        <div class="page-content">
            <div class="row center">
                <div class="alert alert-block alert-danger">
                    <i class="fa fa-umbrella bigger-120 "></i>
                    通过该链接修改密码后，原来的密码将会失效，请在修改密码成功后记住新密码。
                </div>
                <div class="col-sm-5 col-xs-12 " style="margin-left: 30%;">
                    <form name="resetPasswordForm" novalidate>
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input ng-model="newPassword" id="newPassword" name="newPassword" password  required type="password" class="form-control" placeholder="新的密码" />
                                    <i class="icon- fa fa-lock"></i>
                                </span>
                                <div ng-show="resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$invalid">
                                    <div ng-show="resetPasswordForm.newPassword.$error.newPassword">
                                        <span class="label label-warning " style="width: 100%;">
                                            <i class="fa fa-warning bigger-120"></i>
                                           {{newPassword}}
                                        </span>
                                    </div>
                                    <div ng-show="!resetPasswordForm.newPassword.$error.newPassword && resetPasswordForm.newPassword.$error.samePassword">
                                        <span class="label label-warning " style="width: 100%;">
                                            <i class="fa fa-warning bigger-120"></i>
                                           {{newPassword}}
                                        </span>
                                    </div>
                                </div>
                            </label>


                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right ">

                                    <input ng-model="authCode" name="authCode" required ng-minlength=5 ng-maxlength=5 type="text" class="form-control" placeholder="验证码" />
                                    <img id="captchaImg" style="position: absolute; right: 28px; top: 5px; width: 85px;height: 24px;" ng-click="getCaptcha()" ng-src="{{codeImgSrc}}">
                                    <i class="icon- fa fa-refresh fa-spin" ng-click="getCaptcha()"></i>
                                </span>

                            </label>
                            <div class="space-14"></div>

                            <div class="clearfix">

                                <button id="resetBtn" ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid" class="btn btn-info btn-large btn-block">
                                    重置密码
                                    <i class="fa fa-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>

            </div>
        </div>
    </div>
</div>