.page-footer-inner {
    position:fixed;
    bottom:0;
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    width: 100%;
    background-color: #438eb9;
}
.header-button{
    color: #446CB3;
    background: #fff;
    text-shadow: none;
    box-shadow: none;
    border-right: 1px solid #446CB3;
    cursor: pointer;
}
.avatar-container {
    width:40px;
    float:left;
    position: relative;
    display: block;
    top: 11px;
}

.avatar {
    border-radius: 22px;
    position: relative;
    -webkit-transition: all 0.2s ease-out;
}

.avatar:hover {
    border-radius: 0;
}


.avatar-wrap {
    width: 40px;
    height: 40px;
    border-radius: 22px;
    position: relative;
}
