<div class="row" xmlns="http://www.w3.org/1999/html">

<form class="form-horizontal">
    <fieldset>
    <div class="form-group">
       <label class="col-sm-3 control-label "></label>
       <div class="col-xs-9 col-sm-5">
           <a href="#/uploadAvatar">
               <img style="width: 120px;height:120px;" alt="{{userBasic.nickName}}" ng-src="{{userBasic.avatar}}"  >
           </a>
       </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label ">昵称 </label>

        <div class="col-xs-9 col-sm-5" >
            <input type="text" id="nickName" placeholder="昵称"  ng-model="userBasic.nickName" class="form-control">
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">性别</label>

        <div class="col-xs-9 col-sm-5">
            <label class="control-label">
                <input type="radio" name="gender" class="ace"   value="0" ng-model="userBasic.gender" checked="true">
                <span class="lbl">女</span>
            </label>
            <label class="control-label">
                <input type="radio" name="gender"  value="1" ng-model="userBasic.gender" class="ace">
                <span class="lbl">男</span>
            </label>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">所在社区 </label>

        <div class="col-xs-9 col-sm-5">
            <select class="form-control">
                <option>GreenTown</option>
            </select>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">生日 </label>

        <div class="col-xs-9 col-sm-5">
            <div  id="birthDatePicker"  class="input-group input-group-sm" >

                <input type="text" id="datepicker" class="form-control" ng-model="userBirth" />
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="space-4"></div>

    <!--<div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">星座 </label>

        <div class="col-xs-9 col-sm-5">

            <textarea ng-model="contellationName" class="width-100" ></textarea>
        </div>
    </div>-->
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">个性签名 </label>

        <div class="col-xs-9 col-sm-5">
            <textarea ng-model="userBasic.signature" class="form-control" ></textarea>

        </div>
    </div>

    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> </label>

        <div  class="col-xs-9 col-sm-5">
            <button class="btn btn-info btn-block" id="baseInfoBtn" ng-click="saveBaseInfo()">
                <i class="fa fa-save  bigger-110"></i>
                保存
            </button>

        </div>
    </div>
    </fieldset>
</form>

<div class="space-4"></div>
<div class="space-4"></div>
<div class="space-4"></div>
</div>