<form class="form-horizontal" name="changePasswordForm" novalidate>
    <fieldset>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">原始密码 </label>

        <div class="col-xs-9 col-sm-5">
            <input type="password"  id="originPassword" name="originPassword"
                   ng-model="originPassword" required  password placeholder="原始密码" class="width-100" >
        </div>
        <div class="help-block red col-xs-12 col-sm-reset inline"  style="margin-bottom: 3px;"
             ng-show="changePasswordForm.originPassword.$dirty && changePasswordForm.originPassword.$invalid ">
            <div ng-show="changePasswordForm.originPassword.$error.password">
                {{originPassword}}
            </div>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" >新密码 </label>

        <div class="col-xs-9 col-sm-5">
            <input type="password"  id="newPassword" name="newPassword"
                   ng-model="newPassword" required password  placeholder="新密码" class="width-100">
        </div>
        <div class="help-block red col-xs-12 col-sm-reset inline" style="margin-bottom: 3px;"
             ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid ">
            <div ng-show="changePasswordForm.newPassword.$error.password">
                    {{newPassword}}
            </div>
        </div>
    </div>
    <div class="space-4"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" >确认密码 </label>

        <div class="col-xs-9 col-sm-5">
            <input type="password" id="confirmPassword" name="confirmPassword"
                   ng-model="confirmPassword" required password  placeholder="确认密码" class="width-100">
        </div>
        <div class="help-block red col-xs-12 col-sm-reset inline" style="margin-bottom: 3px;"
             ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid ">
            <div ng-show="changePasswordForm.confirmPassword.$error.password">
                {{confirmPassword}}
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" ></label>
        <div class="col-xs-9 col-sm-5">
            <button class="btn btn-info btn-block " type="button" ng-click="changePassword()"  id="changePswdBtn"
                    ng-disabled="changePasswordForm.$invalid">
                <i class="fa fa-save bigger-110"></i>
                保存
            </button>

        </div>
    </div>
    </fieldset>
</form>