<div class="container clearfix">

    <div class="space-5"></div>
    <div class="tabbable " style="padding-top: 20px;">
        <ul id="settingTab" class="nav nav-tabs" >

            <li id="baseTab" class="active">
                <a data-toggle="tab" ng-click="showBaseView()" href="#/baseInfo">
                    <i class="blue fa fa-list-alt bigger-110"></i>
                    个人资料
                </a>
            </li>

            <li id="avatarTab" class="">
                <a data-toggle="tab" ng-click="showAvatarView()" href="#/uploadAvatar">
                    <i class="blue fa fa-camera bigger-110"></i>
                    上传头像
                </a>
            </li>

            <li id="passwordTab" class="">
                <a data-toggle="tab" ng-click="showPasswordView()" href="#/changePassword">
                    <i class="blue fa fa-unlock bigger-110"></i>
                    修改密码
                </a>
            </li>

        </ul>

        <div class="tab-content" style=" border: 0px;height: 100%;">
            <div  ng-view></div>
        </div>
    </div>


</div>