<div>
    <div class="row">
        <div class="col-xs-12">
              <div class="row">
                  <div class="col-xs-6 col-sm-3 ">
                      <div class="pricing hover-effect">
                          <div class="pricing-head">
                              <h3><small>3D魔方</small></h3>
                          </div>

                          <div class="widget-body">
                              <div class="widget-main">
                                  <div class="row">
                                      <img src="/img/game/cube.png" class="col-xs-12" >
                                  </div>

                              </div>

                              <div class="pricing-footer" >
                                  <p>google.com开源项目</p>
                                  <a href="/web/game/cube.html" class="btn btn-block btn-success">
                                      <i class="icon-shopping-cart"></i>
                                      <span>Play</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-xs-6 col-sm-3 pricing-box">
                      <div class="pricing hover-effect">
                          <div class="pricing-head">
                              <h3><small class="white">2048数字</small></h3>
                          </div>
                          <div class="widget-body">
                              <div class="widget-main">
                                  <div class=" row">
                                      <img src="/img/game/2048.jpg" class="col-xs-12">
                                  </div>
                              </div>
                              <div class="pricing-footer" >
                                  <p>github.com开源项目</p>
                                  <a href="/web/game/2048.html" class="btn btn-block btn-success">
                                      <i class="icon-shopping-cart"></i>
                                      <span>Play</span>
                                  </a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>