<div>
    <div class="row">
        <div class="col-xs-12">
              <div class="row">
                  <div class="col-xs-6 col-sm-3 pricing-box ">
                      <div class="widget-box">
                          <div class="widget-header header-color-dark">
                              <h5 class="bigger lighter">谷歌3D魔方</h5>
                          </div>

                          <div class="widget-body">
                              <div class="widget-main">
                                  <div class="row">
                                      <img src="/img/game/cube.png" class="col-xs-12" >
                                  </div>
                                  <div class="row price">
                                      <small>google.com开源项目</small>
                                  </div>
                              </div>

                              <div>
                                  <a href="/web/game/cube.html" class="btn btn-block btn-inverse">
                                      <i class="icon-shopping-cart bigger-110"></i>
                                      <span>Play</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-xs-6 col-sm-3 pricing-box">
                      <div class="widget-box">
                          <div class="widget-header header-color-dark">
                              <h5 class="bigger lighter">2048数字游戏</h5>
                          </div>

                          <div class="widget-body">
                              <div class="widget-main">
                                  <div class=" row">
                                      <img src="/img/game/2048.jpg" class="col-xs-12">
                                  </div>
                                  <div class="row price">
                                      <small>github.com开源项目</small>
                                  </div>
                              </div>

                              <div>
                                  <a href="/web/game/2048.html" class="btn btn-block btn-inverse">
                                      <i class="icon-shopping-cart bigger-110"></i>
                                      <span>Play</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>