<div>
    <div class="row">
        <form class="form-horizontal " name="createVoteForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">投票主题 </label>

                    <div class="col-xs-9 col-sm-5">
                        <input type="text" id="voteTitle" name="voteTitle" ng-model="voteTitle" required ng-minlength=5 ng-maxlength= 30 placeholder="5-30字之间"
                               class="form-control">
                        <div ng-show="createVoteForm.voteTitle.$dirty && createVoteForm.voteTitle.$invalid" class="help-block red col-xs-12 col-sm-reset ">
                        <span ng-show="createVoteForm.voteTitle.$error.required" class="label label-warning pull-right" style="width: 100%;">
                           <i class="fa fa-warning" ></i>请填写投票主题</span>
                        <span ng-show="createVoteForm.voteTitle.$error.maxlength || createVoteForm.voteTitle.$error.minlength" class="label label-warning " style="width: 100%;">
                            <i class="fa fa-warning" ></i>标题长度在5到30字之间</span>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">详细说明</label>

                    <div class="col-xs-9 col-sm-5">
                        <textarea ng-model="voteDesc" name="voteDesc" id="voteDesc"
                                  required ng-minlength=10 ng-maxlength= 50 placeholder="10-200字之间" class="form-control "></textarea>
                        <div ng-show="createVoteForm.voteDesc.$dirty && createVoteForm.voteDesc.$invalid" class="help-block red col-xs-12 col-sm-reset ">
                            <div ng-show="createVoteForm.voteDesc.$error.required" class="label label-warning " style="width: 100%;">
                                <i class="fa fa-warning" ></i>请填写投票详细说明</div>
                            <div ng-show="createVoteForm.voteDesc.$error.maxlength || createVoteForm.voteDesc.$error.minlength" class="label label-warning " style="width: 100%;">
                                <i class="fa fa-warning" ></i>标题长度在10到200字之间</div>
                        </div>
                    </div>

                </div>
                <div class="space-4"></div>

                <div class="form-group" ng-repeat="item in itemListArray">
                    <label class="col-sm-3 control-label no-padding-right">{{item.name}}</label>

                    <div class="col-xs-9 col-sm-5">
                        <input type="text" ng-minlength=2 ng-maxlength= 50 placeholder="2-20字之间"
                             name="{{item.name}}" ng-model="item.value" required class="form-control">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>

                    <div class="col-xs-9 col-sm-5">
                        <div class="col-sm-6 col-xs-12 " ng-show="itemListArray.length>2">
                            <button class="btn grey-cascade btn-block" ng-click="removeItem()" >
                                <i class="fa fa-times-circle"></i> 删除选项
                            </button>
                        </div >
                        <div class="col-sm-6 col-xs-12 pull-right" ng-show="itemListArray.length<10">
                            <button class="btn btn-primary btn-block " ng-click="addItem()">
                                <i class="fa fa-plus-circle"></i> 添加选项
                            </button>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">可投选项</label>

                    <div class="col-xs-9 col-sm-5">
                        <select class="form-control" ng-model="selectNum"  ng-options="item.name for item in selectArray" >
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">截止日期</label>

                    <div class="col-xs-9 col-sm-5">
                        <div id="endDatePicker" class="input-group input-group-sm date date-picker"
                             data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">

                            <input type="text" id="voteDatePicker" class="form-control" placeholder="必须选择"
                                   ng-model="voteEndDate" readonly >
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>

                    <div class="col-xs-9 col-sm-5">
                        <button class="btn btn-success btn-block " type="button" ng-click="createVote()"
                                id="createVoteBtn" ng-disabled="createVoteForm.$invalid">
                            <i class="fa fa-check bigger-110"></i>
                            发起投票
                        </button>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>