<div>
    <div class="row">
    <div class="col-xs-12  pricing-box">
        <div class="widget-box ">
            <div class="widget-body">
                <div class="widget-main">
                    <h6><small>创建时间:{{voteDetail.voteExtend.createDate | date:"yyyy-MM-dd HH:mm:ss"}} </small></h6>
                    <h6><small>结束时间:{{voteDetail.voteExtend.endDate | date:"yyyy-MM-dd HH:mm:ss"}} </small></h6>
                    <h6><small>投票说明:{{voteDetail.voteExtend.remark}}</small></h6>
                </div>
                <form class="form-horizontal">
                    <div class="form-group center">
                        <h3>{{voteDetail.voteExtend.title}}</h3>
                        <h3><small>本投票最多可以选择{{voteDetail.voteExtend.maxItem}}项</small></h3>
                    </div>
                </form>
                <form class="form-horizontal" ng-show="showChart == false">
                    <div class="form-group" ng-repeat="item in voteDetail.voteExtend.voteItemList">
                        <label class="col-xs-12 col-sm-6 control-label no-padding-right">{{item.connent}}</label>
                        <div class="col-xs-12 col-sm-5" ng-show="voteDetail.voteExtend.maxItem>1">
                            <label style="margin-top: 6px;">
                                <input type="checkbox"  class="ace " id="cb_{{item.id}}" value="{{item.id}}" ng-checked="voteMulSelect.indexOf(item.id) > -1" ng-click="toggleSelection(item.id,'cb_'+item.id)" >
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-5" ng-show="voteDetail.voteExtend.maxItem==1">
                            <label style="margin-top: 7px;">
                                <input type="radio" name="voteSelectRadio" class="ace " value="{{item.id}}" ng-model="$parent.voteSelect" >
                                <span class="lbl"></span>
                            </label>

                        </div>
                    </div>
                    <div class="center">
                        <a class="btn btn-default " href="/web/vote/index.html" style="width:180px;"><i class="fa fa-reply "></i>返回</a>
                        <button class="btn btn-success" style="width:180px;" ng-click="doSelect()"><i class="fa fa-check"></i>投票</button>
                    </div>
                </form>

                <form class="form-horizontal"  ng-show="showChart">
                    <div class="row">
                        <div id="voteChartDiv" class="col-xs-9" >

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 center">
                        <h6><small>您于{{voteDetail.voteSelectList[0].createDate | date:"yyyy-MM-dd HH:mm:ss"}}选择投票给{{voteDetail.voteSelectStr}}</small></h6>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
    </div>

</div>
