<div>
    <div class="row">
    <div class="col-xs-12  pricing-box">
        <div class="widget-box ">
            <div class="widget-body">
                <div class="widget-main">
                    <h6><small>创建时间:{{voteDetail.voteExtend.createDate | date:"yyyy-MM-dd HH:mm:ss"}} </small></h6>
                    <h6><small>结束时间:{{voteDetail.voteExtend.endDate | date:"yyyy-MM-dd HH:mm:ss"}} </small></h6>
                    <h6><small>投票说明:{{voteDetail.voteExtend.remark}}</small></h6>
                </div>
                <form class="form-horizontal">
                    <div class="form-group center">
                        <h3>{{voteDetail.voteExtend.title}}</h3>
                        <h3><small>本投票最多可以选择{{voteDetail.voteExtend.maxItem}}项</small></h3>
                        <h3 ng-show="voteDetail.voteExtend.expired"><small>本次投票已经结束</small></h3>
                    </div>
                </form>
                <form class="form-horizontal" ng-show="showChart == false">
                    <div class="form-group" ng-repeat="item in voteDetail.voteExtend.voteItemList">
                        <label class="col-xs-12 col-sm-6 control-label no-padding-right">{{item.connent}}</label>
                        <div class="col-xs-12 col-sm-5" ng-show="voteDetail.voteExtend.maxItem>1">
                            <label style="margin-top: 6px;">
                                <input type="checkbox"  class="ace " id="cb_{{item.id}}" value="{{item.id}}" ng-checked="voteMulSelect.indexOf(item.id) > -1" ng-click="toggleSelection(item.id,'cb_'+item.id)" >
                                <span class="lbl"></span>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-5" ng-show="voteDetail.voteExtend.maxItem==1">
                            <label style="margin-top: 7px;">
                                <input type="radio" name="voteSelectRadio" class="ace " value="{{item.id}}" ng-model="$parent.voteSelect" >
                                <span class="lbl"></span>
                            </label>

                        </div>
                    </div>
                    <div class="center">
                        <a class="btn btn-default " href="/web/vote/index.html" style="width:180px;"><i class="fa fa-reply "></i>返回</a>
                        <button class="btn btn-success" style="width:180px;" ng-click="doSelect()" ng-show="!voteDetail.voteExtend.expired"><i class="fa fa-check"></i>投票</button>
                        <button class="btn btn-success" style="width:180px;" ng-click="getVoteResult()" ng-show="voteDetail.voteExtend.expired"><i class="fa fa-search"></i>产看结果</button>
                    </div>
                </form>

                <form class="form-horizontal"  ng-show="showChart">
                    <div class="row">
                        <div id="voteChartDiv" class="col-xs-9" >

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 center">
                        <h6><small>您于{{voteDetail.voteSelectList[0].createDate | date:"yyyy-MM-dd HH:mm:ss"}}选择投票给{{voteDetail.voteSelectStr}}</small></h6>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
    </div>

    <!--Add vote comment-->
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="green"><i class="icon-star orange"></i>发表评论</h4>
                    <h6 class=" pull-right" style="padding-right: 20px;"><small class="green">还可以输入{{320-commentInfo.comment.length}}字</small></h6>
                </div>

                <div class="widget-body ">

                    <form name="commentForm" id="commentForm"  novalidate>
                        <fieldset >
                            <textarea ng-model="commentInfo.comment" name="commentText" class="width-100 " rows="4" placeholder="您可以对该投票进行评论" required ng-maxlength="320"></textarea>
                            <div ng-show="commentForm.commentText.$dirty && commentForm.commentText.$invalid" class="help-block red col-xs-12 col-sm-reset ">
                                    <span ng-show="commentForm.commentText.$error.required" class="label label-warning pull-right" style="width: 100%;">
                                       <i class="icon-warning-sign" ></i>请填写您要发表的评论</span>
                                    <span ng-show="commentForm.commentText.$error.maxlength" class="label label-warning " style="width: 100%;">
                                        <i class="icon-warning-sign" ></i>评论长度长度在320字之内</span>
                            </div>
                        </fieldset>
                        <div class="form-actions col-xs-12 pull-right">
                            <div class="input-group">
                                    <span class="block input-icon input-icon-right input-group ">
                                        <a id="captchaRefresh" class="login-field-icon icon-refresh-2" ng-click="getCaptcha()">
                                            <i class="fa fa-refresh fa-spin"></i>
                                            <img id="captchaImg" src=""><i class="icon-retweet"></i>
                                        </a>
                                    </span>
                                    <span class="input-group-btn">
                                        <input type="text" class="form-control" style="width:300px;" name="autoCode" ng-model="authCode" placeholder="验证码" id="signUpCode" required ng-minlength="5" ng-maxlength="5/">

                                        <button type="button" class="btn btn-sm btn-success" ng-click="addComment()"  ng-disabled="commentForm.$invalid">
                                            发布
                                            <i class="icon-arrow-right icon-on-right bigger-110"></i>
                                        </button>
                                    </span>

                            </div>
                            <span ng-show="commentForm.autoCode.$dirty && commentForm.autoCode.$invalid">
                                <span class="label label-warning " style="width: 100%;"> <i class="fa fa-warning" ></i>请输入图片上显示的内容</span>
                            </span>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--Vote comment list-->
    <div class="row">
        <div class="col-xs-12">
        <div class="dialogs">
            <div class="itemdiv dialogdiv" ng-repeat="item in voteCommentList">
                <div class="user">
                    <img alt="{{item.nickName}}" ng-src="{{item.avatar}}">
                </div>

                <div class="body">
                    <div class="time">
                        <i class="icon-time"></i>
                        <span class="green">{{item.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                    </div>

                    <div class="name">
                        <label></label><a href="#">{{item.nickName}}</a>
                    </div>
                    <div class="text">{{item.comment}}</div>

                    <div class="tools">
                        <a href="#" class="btn btn-minier btn-info">
                            <i class="icon-only icon-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="itemdiv dialogdiv center" ng-show="commentEnd">
                <h5>已经是最后一条评论了</h5>
            </div>

        </div>
        </div>
    </div>
</div>
