<div>
    <div class="row center">
        <div class="col-xs-12  pricing-box">
            <input ng-model="title"/>
        </div>
        <div class="col-xs-12  pricing-box" ng-repeat="vote in voteList">
            <div class="widget-box">
                <div class="widget-header header-color-blue  ">
                    <h5 class="bigger lighter pull-left" style="padding-left: 20px;">{{vote.title}}</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <h5>投票发起时期：{{vote.createDate}}</h5>
                                <h5>投票结束时期：{{vote.endDate}</h5>
                            </div>
                            <div class="col-sm-3 col-xs-6 pull-right">
                                <ul class="list-unstyled spaced2">
                                    <li>
                                        <i class=" icon-check green"></i>
                                        投票(0)
                                        <i class=" icon-bullhorn green"></i>
                                        评论(0)
                                    </li>
                                    <li>
                                        此投票由 {{vote.nickName}} 发起
                                        <div class="user">
                                            <img class="nav-user-photo" style="width: 40px;height: 40px;" alt="Bob's Avatar" ng-src="{{vote.avatar}}">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>