<div>
    <div class="row " ng-repeat="vote in voteList">

        <div class="col-xs-12 " >
               <div class=" pricing  hover-effect">
                <div class="pricing-head">
                    <h3 style="text-align: left;padding-left: 20px;"><a  ng-href="/web/vote/detail.html?res={{vote.id}}">{{vote.title}}</a></h3>
                </div>

                <ul class="pricing-content list-unstyled" >
                    <li>
                        <div class="col-xs-12">
                            <div class="col-sm-6 col-xs-6">
                                <span>投票发起时期：{{vote.createDate | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                 <span>投票结束时期：{{vote.endDate | date:"yyyy-MM-dd HH:mm:ss" }}</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-xs-12">
                            <div class="col-sm-6 col-xs-6">
                                <span> <i class=" fa fa-check green"></i>
                                        投票({{vote.voteCount}})
                                        <i class=" fa fa-bullhorn green"></i>
                                        评论({{vote.commentCount}})</span>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <span>
                                    此投票由 <a href="/web/profile/index.html?uid={{vote.uid}}">{{vote.nickName}}</a>  <img class="img-circle avatar" style="width: 40px;height: 40px;" alt="Bob's Avatar" ng-src="{{vote.avatar}}">发起
                                </span>
                            </div>
                        </div>
                    </li>

                </ul>
               <div class="pricing-footer">
                   <p>&nbsp;</p>
                   <a ng-href="/web/vote/detail.html?res={{vote.id}}" class="btn  green-meadow">
                       查看投票 <i class="m-icon-swapright m-icon-white"></i>
                   </a>
               </div>
               </div>
        </div>
    </div>
</div>